@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estedad";
  src: url("webfonts/Estedad-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}